<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.codelong.apigatewaycenter.dao.mapper.GatewayServerMapper">

    <resultMap id="BaseResultMap" type="top.codelong.apigatewaycenter.dao.entity.GatewayServerDO">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="serverName" column="server_name" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="safeKey" column="safe_key" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,server_name,status,
        safe_key
    </sql>
</mapper>
