<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.codelong.apigatewaycenter.dao.mapper.GatewayServerDetailMapper">

    <update id="registerIfAbsent">
        update gateway_server_detail
        set status = 1
        where server_address = #{serverAddress}
          and status = 0
    </update>
</mapper>
