<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.codelong.apigatewaycenter.dao.mapper.GatewayGroupMapper">
    <select id="getIdByKey" resultType="java.lang.Long">
        select id
        from gateway_group
        where group_key = #{key}
    </select>

    <select id="pageInfo" resultType="top.codelong.apigatewaycenter.dto.req.GroupSaveReqVO">
        select id, group_name, group_key
        from gateway_group
        <where>
            <if test="reqVO.name != null and reqVO.name != ''">
                and group_name like concat('%', #{reqVO.name}, '%')
            </if>
        </where>
    </select>
</mapper>
