<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.codelong.apigatewaycenter.dao.mapper.GatewayGroupDetailMapper">
    <select id="pageInfo" resultType="top.codelong.apigatewaycenter.dto.req.GroupDetailSaveReqVO">
        select d.id,
        g.group_name,
        d.detail_name as name,
        d.detail_address as address,
        d.status,
        d.detail_weight as weight
        from gateway_group_detail d
        inner join gateway_group g on d.group_id = g.id
        <where>
            <if test="reqVO.groupName != null and reqVO.groupName != ''">
                and g.group_name like concat('%', #{reqVO.groupName}, '%')
            </if>
            <if test="reqVO.detailName != null and reqVO.detailName != ''">
                and d.detail_name like concat('%', #{reqVO.detailName}, '%')
            </if>
            <if test="reqVO.status != null">
                and d.status = #{reqVO.status}
            </if>
            <if test="reqVO.address != null and reqVO.address != ''">
                and d.detail_address like concat('%', #{reqVO.address}, '%')
            </if>
        </where>
    </select>
</mapper>
